[submodule "gramm-ecc-reductions"]
	path = gramm-ecc-reductions
	url = git@github.com:kenballus/gramm-ecc-reductions.git
[submodule "KaMIS"]
	path = KaMIS
	url = git@github.com:KarlsruheMIS/KaMIS.git
[submodule "ecc-reductions"]
	path = ecc-reductions
	url = git@github.com:darrenstrash/ecc-reductions.git
